@charset "UTF-8";

.container {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: flex-start;
    width: 100%;
    padding: 0; /* 추가적인 여백을 제거 */
}

.container form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    margin: 0 auto; /* 폼을 화면 가운데로 배치 */
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

#title {
    width: 100%; /* 제목 입력 필드 전체 너비 사용 */
}

/* 비공개 체크박스와 제목 필드 간격 조정 */
.private-container {
    display: flex;
    align-items: center;
    margin-top: 5px; /* 제목과 비공개 체크박스 사이 간격 */
}

#privatePost {
    margin-right: 5px; /* 체크박스와 텍스트 사이 간격 */
}

label[for="private"] {
    margin-left: 5px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn-primary, .cancel-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}





